@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron theme-light">
    <div class="container">
        <div class="row">
            <div>
                <div class="type-h3">
                    Online Technical Screens
                </div>
                <div class="type-sh3">
                    Tools and Extensions to use for managing Online Technical Screens
                </div>
                <p>This is your one stop for analyzing and managing Online Technical Screen data.</p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="@Url.Action("Index","Review")">Review Analytics</a>
                </div>
            </div>
        </div>
    </div>
</div>
